// google fonts 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// === Common Design Start
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul,
  ol {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 0.8;
  }
  .container {
    width: 1320px;
    margin: 0 auto;
  }