// bg colors
$mainbg: #2a3447;
$sendarybg: #384256;
$primaribg: #222b3c;

// colors
$primarycolor: #fff;
$peracolor: #ddd;
$sendarycolor : #2a3447;

// google fonts 
 $inter:"'Inter', sans-serif";
 $montserrat:"'Montserrat', sans-serif";